html {
    --spacing: 25px
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 600px;

    margin: 0;
    overflow: hidden;

    background-color: #6d2ff8;
}

#bgBox {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
    z-index: -2;

    display: flex;
    justify-content: center;
    align-items: center; 
}

#bg {
    position: relative;
    width: calc(100% + 100vh);
    height: calc(100% + 100vw);

    background: linear-gradient(90deg, rgb(63, 25, 78) 0%, rgb(59, 16, 134) 50%, rgb(34, 90, 121) 100%);
    animation: bg 120s linear infinite;
}

#filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    backdrop-filter: blur(500px);
}

#block {
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 8% 25%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;

    background: #0000007f;
    z-index: -10/*10*/;
}

#blImg {
    max-height: 60vh;
    width: auto;
    justify-self: center;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: calc(var(--spacing) / 2 );
    row-gap: var(--spacing);
    column-gap: var(--spacing);
    box-sizing: border-box;
}

#outMain {
    grid-row: 2;
}

#botMain {
    grid-row: 2 span;
}

.canvasBox {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

#botBox {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(var(--spacing) * 2) 1fr;

    padding: 2%;
    border-radius: 20px;
    box-sizing: border-box;

    backdrop-filter: brightness(.7);
}

.title {
    width: 100%;
    height: 100%;

    font-family: 'Sambold';
    font-size: calc(var(--spacing) * 2);
    color: #fff;

    display: flex;
    justify-content: start;
    align-items: center;
}

.canvas {
    height: calc(100% - var(--spacing));
    aspect-ratio: 1;
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    align-self: center;
}

@font-face {
    font-family: 'Sambold';
    src: url('./assets/font/sambold.ttf') format('truetype');
}

@keyframes bg {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}